/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:#2E9CE6;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}
table tr:nth-child(even) {
    background: #b9ccd9;
}
table tr th {
    background: #fff;
    color: #2885C4;
    font-size: 14px;
    padding: 5px 5px;
}
table tr td {
    padding: 10px;
    font-size: 13px;
    font-weight: normal;
}
input[type=submit]:disabled {
    opacity: 0.3;
}
.fields .field {
    margin-bottom: 30px;
}
.field span.error  {
    color: red;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}